
#image{
  background-image: url("../images/burgers.png"); 
  background-size: cover;
  height: 1000px;
  
}
h1{
  text-align: center;
  color:#808000;
  background-color:#FFDEAD;
  font-size: 75px;
  font-family: fantasy;
  
}
h2 {
color:#808000;
font-family: fantasy;

}
li {
  color: grey;
  font-family: fantasy;
   padding: 5px;
   margin: 5px;
   font-size: 20px;
  
  }
  
  .label {
    color:#808000;
   
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;

  
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  